[META]
DATASET_NAME = misinfo-2020    #C4, misinfo-2020
RES_FILE = res_misinfo-2020_bm25_description.csv
OUTPUT_PATH = /path_to_output/
ABBREV = monoT5-base-msmarco
CLEAN_HTML = True

[INDEX]    # question / description - full, query / title - keywords
QUERY_PATH = /query_path/queries.jsonl
QRELS_PATH = /qrels_path/misinfo-qrels.binary-useful-correct.tsv
INPUT_PATH = /path_to_bm25_top1k/method_bm25

[SPARSE]
MODEL_NAME = SPARTA
HUGGINGFACE_TOKEN = access_token
USE_TITLE = empty

[DENSE]
MODEL_NAME = msmarco-roberta-base-ance-firstp
SCORE_FUNCTION = dot

[RERANKER]
MODEL_NAME = MonoT5    
TRAINING = castorini/monot5-base-msmarco  
