[META]
DATASET_NAME = misinfo-2020   # misinfo-2020, misinfo-test, c4
INPUT_PATH = /input_path/
RES_FILE = results_filename.csv

[C4]
QUERY_QUERY_PATH = /path_to_beir/TREC_2022_BEIR/automatic_query/queries.jsonl
QUERY_QUESTION_PATH = /path_to_beir/TREC_2022_BEIR/automatic_question/queries.jsonl
QRELS_PATH = /path_to_beir/TREC_2022_BEIR/qrels/misinfo-qrels.graded.tsv
INDEX_PATH = /path_to_index/C4

[MISINFO]
QUERY_DESC_PATH = /path_to_beir/TREC_2020_BhpcEIR/automatic_description/queries_desc.jsonl
QUERY_TITLE_PATH = /path_to_beir/TREC_2020_BEIR/automatic_title/queries_title.jsonl
QRELS_PATH = /path_to_beir/TREC_2020_BEIR/qrels/misinfo-qrels-graded.harmful-only.tsv
INDEX_PATH = /path_to_index/misinfo-2020

[RERANK]
RERANKER = MonoT5    # MonoT5, cross-encoder
TRAINING = castorini/monot5-base-msmarco  # cross-encoder/ms-marco-MiniLM-L-6-v2, cross-encoder/ms-marco-TinyBERT-L-6, etc.
ABBREV = monoT5-base-msmarco
